<a href="https://colab.research.google.com/github/Klauszhao/GameCode/blob/master/test/readDriveDataTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print('test')

test

In [0]:
# 这个没太懂是干嘛的
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
!ls

!ls 'drive/My Drive/Data'

drive  gdrive  sample_data
dataProcessByTwoTask.csv

In [0]:
import pandas as pd
# 上传数据集

#  drive/My Drive/Data 这个是 云端数据的路径

filePath = 'drive/My Drive/Data/dataProcessByTwoTask.csv'
data = pd.read_csv(filePath,encoding='gbk')

data.head(2)

   take_amount_in_later_12_month_highest  ...  first_transaction_time_day
0                                      0  ...                          17
1                                   2000  ...                           2

[2 rows x 70 columns]